{% extends "base.html" %}
{% block header %}
<head>
    <meta charset="UTF-8">
    <title>Vegetables</title>
    <style>
   h2 {
    background: #D9FFAD;
    color: green;
    padding: 2px;
   }
    </style>
</head>
{% endblock %}

{% block content %}
<h2>
    <ol>
        {% for veg in list %}
        {% if veg == 'beetroot'%}
        <li>{{ veg.upper() }}</li>
        {% else %}
        <li>{{ veg}}</li>
        {% endif %}
        {% endfor %}
    </ol>
    <br>
    <a href="javascript:window.history.back()">Back</a>
</h2>
{% endblock %}